version: '3'

services:

 postgres:

  image: postgres

  environment:
   POSTGRES_DB: bankdb
   POSTGRES_USER: postgres
   POSTGRES_PASSWORD: postgres

  ports:
   - "5432:5432"

 app:

  build: .

  ports:
   - "8081:8081"

  depends_on:
   - postgres